<h1>Welcome to Bloccit</h1>
<p>This is the home page for Bloccit.</p>
<p id="index-title">This is the home page for Bloccit.</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>

<p>Find me in app/views/welcome/index.html.erb or here...</p>

    <footer>
        <a href="http://twitter.com/manofcolorado"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/fernando.ramoslopez.982"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
      <p>&#169;  2014 Fernando Ramos</p>
    </footer>
